/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    text-decoration: none;
    list-style: none;
}

.wrapper {
    width: 200px;
    margin: 0;
    height: 1200px;
    background-color: #f0f0f0;
}

header {
    width: 100%; 
    height: 100px; 
    background: rgb(255, 255, 255);
}

.logo {
    width: 100%;
    text-align: center;
}

.menu {
    
    width: 100%;
    background-color: #379EF5;
}

.menu ul li {
    width: 100%;
}

.menu ul li a {
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    display: block;
    color: #000;

}

.menu ul li a:hover {
    background-color: #9aabf8;
    color: #fff;
}

.menu ul li ul {
    width: 100%;
    background-color: #778494;
    
}

.menu ul li ul li a {
    width: 100%;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    display: block;
    color: white;
}

.menu ul li ul li a:hover {
    background-color: #fff;
    color: #000;
}
/* ----------------------------------------------------- */
.mainMenu > a {
    font-size: 18px; 
    font-weight: 600;
}

.subMenu {
    position:absolute; 
    width: 100%; 
    z-index: 998; 
    display: none;
}